<section class="video-section" id="section1">
  <div class="banner-img-container" style="position: relative;">
    <!-- ../../assets/fullbet.png PARA LOCAL-->
    <img src="assets/fullbet.png" alt="Banner" class="banner-img" />
    <div class="contacto-absolute">
      <div class="contacto-content">
        <div class="contact-info">
          <p>¿Listo para empezar a jugar y ganar? ¡Contáctanos ahora!</p>
          <a href="https://wa.me/5492215868195" target="_blank" class="whatsapp-btn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="whatsapp-icon">
            Contáctanos por WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>  
</section>
<section class="section-2" id="section2">
  <h1 #section2Title id="section2-title" style="background-color: brown;">
    No es suerte. Es FULLBET.
  </h1>
  <h2>
    OBTENE TU BONUS DEL 30% Y PARTICIPA DEL SORTEO SEMANAL DE 20.000 FICHAS
  </h2>
</section>
