<footer>
  <div class="footer-content">
    <!-- ../../assets/newLogo.png PARA LOCAL-->
    <img src="assets/newLogo.png" alt="FullBet Logo" class="footer-logo">
    <div class="footer-text">
      <p>Copyright © 2025, 1fullbet.com, All rights reserved.</p>
      <p>¡Gracias por confiar en nosotros!</p>
    </div>
    <a href="https://wa.me/5492215868195" target="_blank" class="footer-whatsapp">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="footer-whatsapp-icon">
      Soporte
    </a>
  </div>
</footer>

